body {
  margin: 0;
  padding: 0;
}

p {
  font-family: "Roboto", sans-serif;
}

h2 {
  margin-left: 5%;
}

/*------------------------------------------------------------------------------------------------------------------------
                                                    VARIABLE
------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------
                                                    HEADER
------------------------------------------------------------------------------------------------------------------------*/
header {
  display: flex;
  justify-content: center;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-bottom: 1px solid transparent;
}
header .conteneur_logo {
  display: flex;
  margin-top: 15px;
  width: 50%;
  height: 70%;
  justify-content: center;
  align-items: center;
}
header .conteneur_logo__image {
  height: 65%;
}

/*------------------------------------------------------------------------------------------------------------------------
                                                    NAV
------------------------------------------------------------------------------------------------------------------------*/
nav {
  display: flex;
  background-color: #cfcfcf;
  justify-content: center;
  align-content: center;
  font-weight: bold;
}
nav .nav__conteneur_icone {
  margin-right: 15px;
}

/*------------------------------------------------------------------------------------------------------------------------
                                                    PRESENTATION
------------------------------------------------------------------------------------------------------------------------*/
.conteneur_presentation {
  background-color: rgba(212, 212, 212, 0.315);
}

.presentation {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 250px;
  margin: 0 auto;
  text-align: center;
}
.presentation h1 {
  width: 80%;
  margin: 30px auto 0px auto;
}
.presentation p {
  margin: 10px auto 0 auto;
}
.presentation .bouton_exporation {
  width: 70%;
  height: 50px;
  border-radius: 25px;
  margin: 25px auto 15px auto;
  font-weight: bold;
  color: white;
  background-image: radial-gradient(at 0% 5%, #FF79DA, 55%, #9356DC);
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.presentation .bouton_exporation:hover {
  cursor: pointer;
}

/*------------------------------------------------------------------------------------------------------------------------
                                                    FONCTIONNEMENT
------------------------------------------------------------------------------------------------------------------------*/
.conteneur_fonctionnement {
  margin: 50px 0 60px 0;
  height: auto;
}
.conteneur_fonctionnement h2 {
  margin-bottom: 25px;
}
.conteneur_fonctionnement .etape_fonctionnement {
  display: flex;
  align-items: center;
  width: 90%;
  height: 70px;
  margin: 10px auto 25px auto;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: rgba(212, 212, 212, 0.315);
}
.conteneur_fonctionnement .etape_fonctionnement:hover {
  background-color: #e4d5f6;
}
.conteneur_fonctionnement .etape_fonctionnement:hover i {
  color: #9356DC;
}
.conteneur_fonctionnement .etape_fonctionnement__number {
  height: 22px;
  width: 22px;
  background-color: #9356DC;
  color: white;
  border-radius: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -10px;
  font-size: 0.8em;
}
.conteneur_fonctionnement .etape_fonctionnement p {
  margin-right: 25px;
  font-weight: bold;
}
.conteneur_fonctionnement .etape_fonctionnement p i {
  color: gray;
}

/*------------------------------------------------------------------------------------------------------------------------
                                                    RESTAURANT
------------------------------------------------------------------------------------------------------------------------*/
.conteneur_restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 30px;
}
.conteneur_restaurant .restaurant {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 250px;
  margin: 0 auto 25px auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
}
.conteneur_restaurant .restaurant__img {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  overflow: hidden;
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.conteneur_restaurant .restaurant__img img {
  min-width: 100%;
  height: auto;
}
.conteneur_restaurant .restaurant__description {
  display: flex;
  width: 95%;
  margin: 0 auto;
  height: 30%;
  justify-content: space-between;
}
.conteneur_restaurant .restaurant__description__texte {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.conteneur_restaurant .restaurant__description__texte h3 {
  margin: 10px 0 5px 0;
}
.conteneur_restaurant .restaurant__description__texte p {
  margin: 5px 0 5px 0;
}
.conteneur_restaurant .restaurant__description__favoris {
  display: flex;
  margin-right: 5%;
  font-size: 1.8em;
  color: gray;
  justify-content: center;
  align-items: center;
}
.conteneur_restaurant .restaurant_nouveau {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  width: 100px;
  height: 35px;
  background-color: #99E2D0;
  color: black;
  position: absolute;
  right: 5%;
  border-radius: 5px;
  margin: 25px 0 0 0;
}

/*------------------------------------------------------------------------------------------------------------------------
                                                    FOOTER
------------------------------------------------------------------------------------------------------------------------*/
footer {
  display: flex;
  background-color: #2b2b2b;
  color: white;
}
footer div {
  margin: 10px auto;
  width: 90%;
  height: 100%;
}
footer div i {
  margin-right: 10px;
}
footer div h2 {
  font-weight: normal;
  font-family: "Shrikhand", cursive;
  margin: 10px 0 10px 0;
}

/*# sourceMappingURL=style.css.map */
