body {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

p,
a {
    font-family: "Roboto", sans-serif;
}

h1 {
    font-family: "Shrikhand", cursive;
    font-weight: normal;
}

/*------------------------------------------------------------------------------------------------------------------------
                                                    VARIABLE
------------------------------------------------------------------------------------------------------------------------*/
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$gris: #f2f2f2;

/*------------------------------------------------------------------------------------------------------------------------
                                                    HEADER
------------------------------------------------------------------------------------------------------------------------*/
header {
    display: flex;
    height: 60px;
    box-shadow: $shadow;
    border-bottom: 1px solid transparent;
    .conteneur_logo {
        display: flex;
        margin-top: 15px;
        width: 50%;
        height: 70%;
        justify-content: center;
        align-items: center;
        &__image {
            height: 65%;
        }
    }
}

.conteneur_retour {
    display: flex;
    width: 25%;
    &__bouton {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        font-size: 1.2em;
        color: rgb(68, 68, 68);
    }
}

/*------------------------------------------------------------------------------------------------------------------------
                                                    IMG RESTAURANT
------------------------------------------------------------------------------------------------------------------------*/
.image_restaurant {
    height: 300px;
    overflow: hidden;
    display: flex;
    align-items: center;
    img {
        z-index: -1;
        min-width: 100%;
        min-height: 100%;
    }
}

/*------------------------------------------------------------------------------------------------------------------------
                                                    RESTAURANT
------------------------------------------------------------------------------------------------------------------------*/
.menu {
    margin-top: -75px;
    padding-bottom: 50px;
    background-color: $gris;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    height: auto;
    &__titre {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.1em;
        h1 {
            width: 80%;
        }
        p {
            font-size: 1.5em;
            width: 20%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    #entrees {
        animation-delay: 0s;
    }
    #plats {
        animation-delay: 0.5s;
    }
    #desserts {
        animation-delay: 1s;
    }
    &__conteneur {
        margin-bottom: 40px;
        opacity: 0;
        animation-name: slideFromBottom;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        h2 {
            margin: 20px 0px 0px 5%;
        }
        &__bar {
            margin: 5px 0px 20px 5%;
            width: 50px;
            height: 3px;
            background-color: $tertiary-color;
        }
        &__plat {
            background-color: white;
            border-radius: 15px;
            box-shadow: $shadow;
            width: 90%;
            height: 70px;
            margin: 0 auto 30px auto;
            display: flex;
            overflow: hidden;
            align-items: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            cursor: pointer;
            &__texte {
                width: 100%;
                height: 100%;
                padding: 10px 0px 10px 10px;
                display: flex;
                flex-flow: column nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                transition: all 1s;
                h3,
                p {
                    margin: auto 0;
                    display: block;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    width: auto;
                }
            }
            &__choix {
                display: flex;
                width: 10%;
                height: 100%;
                transition: all 1s;
                margin-left: 10px;
                transition-delay: 0.1s; 
                &__selec {
                    height: 100%;
                    background-color: $tertiary-color;
                    width: 0%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: white;
                    font-size: 1.5em;
                    i{
                        transition: all 1s;
                        transition-delay: 0.1s;
                        transform: rotate(-45deg);
                    }
                }
                &__prix {
                    width: 100%;
                    display: flex;
                    align-self: flex-end;
                    justify-self: center;
                    margin-bottom: 5px;
                    margin-right: 10px;
                }
            }
            //Animation
            &:hover {
                .menu__conteneur__plat__choix{
                    width: 30%;
                    &__prix {
                        width: 25%;
                    }
                    &__selec{
                        width: 75%;
                    }
                }
                .menu__conteneur__plat__texte {
                    width: 70%;
                }
                .menu__conteneur__plat__choix__selec i{
                    transform: rotate(360deg);
                }
            }
        }
    }
    .bouton_commander {
        width: 60%;
        height: 50px;
        border-radius: 25px;
        margin: 25px auto 0px auto;
        font-weight: bold;
        color: white;
        background-image: radial-gradient(at 0% 5%, $secondary-color, 55%, $primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: $shadow;
        &:hover {
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.75) 0px 5px 15px;
            background-image: radial-gradient(at 0% 5%, lighten($secondary-color, 4), 55%, lighten($primary-color, 4));
        }
    }
}

// ------------------------- Animation -------------------------
@keyframes slideFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/*------------------------------------------------------------------------------------------------------------------------
                                                    FOOTER
------------------------------------------------------------------------------------------------------------------------*/
footer {
    display: flex;
    background-color: rgb(43, 43, 43);
    color: white;
    div {
        margin: 10px auto;
        width: 90%;
        height: 100%;
        i {
            margin-right: 10px;
        }
        h2 {
            font-weight: normal;
            font-family: "Shrikhand", cursive;
            margin: 10px 0 10px 0;
        }
        a {
            color: white;
            font-family: "Roboto", sans-serif;
        }
    }
}

/*==============================================================================================================================================================================================
                                                    TABLETTE
===============================================================================================================================================================================================*/
@media only screen and (min-width: 1025px) {
    /*------------------------------------------------------------------------------------------------------------------------
                                                    HEADER
    ------------------------------------------------------------------------------------------------------------------------*/
    header {
        flex-direction: row-reverse;
    }

    .conteneur_retour {
        transform: rotate(180deg);
    }

    /*------------------------------------------------------------------------------------------------------------------------
                                                    IMG RESTAURANT
    ------------------------------------------------------------------------------------------------------------------------*/
    .image_restaurant {
        height: 900px;
    }

    /*------------------------------------------------------------------------------------------------------------------------
                                                        RESTAURANT
    ------------------------------------------------------------------------------------------------------------------------*/
    .menu {
        display: flex;
        flex-flow: row wrap;
        width: 95%;
        height: 700px;
        margin: -850px auto 50px auto;
        padding-bottom: 0;
        justify-content: space-around;
        background-color: transparent;
        &__titre {
            animation: 1s ease-out 0s 1 slideFromLeft;
            height: 80px;
            margin: 0 60% 0 -50px;
            background-color: rgba(242, 242, 242, 0.9);
            border-top-right-radius: 35px;
            border-bottom-right-radius: 35px;
            h1 {
                width: 55%;
                margin: 20px auto;
            }
            p {
                font-size: 1.5em;
                width: 15%;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 20px;
            }
        }
        #entrees {
            animation-delay: 1s;
        }
        #plats {
            animation-delay: 1.5s;
        }
        #desserts {
            animation-delay: 2s;
        }
        &__conteneur {
            width: 32%;
            background-color: rgba(242, 242, 242, 0.7);
            border-radius: 35px;
            margin-top: 50px;
        }
        .bouton_commander {
            width: 20%;
            &:hover {
                cursor: pointer;
            }
            //Animation
            animation: 1s ease-out 2.5s 1 forwards slideButton;
            opacity: 0;
        }
    }

    /*-------- ANIMATION ----------*/
    @keyframes slideFromLeft {
        0% {
            transform: translateX(-200%);
        }
        100% {
            transform: translateX(0);
        }
    }

    @keyframes slideButton {
        0% {
            opacity: 0;
            transform: translateY(500%);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
    }

    /*------------------------------------------------------------------------------------------------------------------------
                                                    FOOTER
    ------------------------------------------------------------------------------------------------------------------------*/
    footer {
        div {
            display: flex;
            flex-flow: row wrap;
            margin: 10px 40px;
            p {
                margin-right: 50px;
            }
            i {
                margin-right: 5px;
            }
            h2 {
                width: 90%;
            }
            a {
                margin: 16px;
            }
        }
    }
}
/*==============================================================================================================================================================================================
                                                    PC
===============================================================================================================================================================================================*/
@media only screen and (min-width: 1225px) {
    /*------------------------------------------------------------------------------------------------------------------------
                                                        RESTAURANT
    ------------------------------------------------------------------------------------------------------------------------*/
    .menu {
        &__titre {
            margin: 0 75% 0 -50px;
        }
    }

}
