body{
    margin: 0;
    padding: 0;
}




/*------------------------------------------------------------------------------------------------------------------------
                                                    VARIABLE
------------------------------------------------------------------------------------------------------------------------*/
$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;


/*------------------------------------------------------------------------------------------------------------------------
                                                    HEADER
------------------------------------------------------------------------------------------------------------------------*/
header {
    display: flex;
    justify-content: center;
    height: 60px;
    box-shadow: $shadow;
    border-bottom: 1px solid transparent;
    .conteneur_logo {
        display: flex;
        margin-top: 15px;
        width: 50%;
        height: 70%;
        justify-content: center;
        align-items: center;
        &__image {
            height: 65%;
        }
    }
}

/*------------------------------------------------------------------------------------------------------------------------
                                                    NAV
------------------------------------------------------------------------------------------------------------------------*/
nav {
    display: flex;
    background-color: rgb(207, 207, 207);
    justify-content: center;
    align-content: center;
    font-weight: bold;
    .nav__conteneur_icone{
        margin-right: 15px;
    }
}

/*------------------------------------------------------------------------------------------------------------------------
                                                    PRESENTATION
------------------------------------------------------------------------------------------------------------------------*/
.conteneur_presentation{
    background-color: rgba(212, 212, 212, 0.315);
}
.presentation{
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 250px;
    margin: 0 auto;
    text-align: center;
    h1{
        width: 80%;
        margin: 30px auto 0px auto;
    }
    p{
        margin: 10px auto 0 auto;
    }
    .bouton_exporation{
        width: 70%;
        height: 50px;
        border-radius: 25px;
        margin: 25px auto 15px auto;
        font-weight: bold;
        color: white;
        background-image: radial-gradient(at 0% 5%, $secondary-color, 55%, $primary-color);
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: $shadow;
        &:hover{
            cursor: pointer;
        }
    }
}

section img {
    width: 50px;
    height: 50px;
}
